

    .btn.btn-primary.px-3.me-2{
        height: 40px;
    }
    .btn.btn-primary.px-3.ms-2{
        height: 40px;
    }

hr{
    color: black;
    border-style: inset;
    border: 1px solid black;
}

.row{
    margin: 10px;
}
.card.mb-4{
    margin-right: 20px;
}
.btn.btn-primary.btn-sm.me-1.mb-2{
    background-color: #e50a0a;
}
.btn.btn-primary.btn-sm.me-1.mb-2:hover{
    background-color: #ff0000;
}

.mb-0 {
    font-size: 23px;
    font-family: serif;
}
.empty-cart {
    text-align: center;
    margin-top: 20px;
}
img {
    border-radius: 50px;
}