<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" height="100px">
            <h1>BIG BURGER!</h1>
            <img class="d-block w-100" src="assets/Carousel-images/carousel-hamburger.jpg" alt="Hamburger">
        </div>
        <div class="carousel-item">
            <h1>VERY TASTY STEAK!</h1>
            <img class="d-block w-100" src="assets/Carousel-images/carousel-steak.jpg" alt="Steak">
        </div>
        <div class="carousel-item">
            <h1>CUSTOMER'S FAVORITE PIZZA!</h1>
            <img class="d-block w-100" src="assets/Carousel-images/carousel-pizza.jpg" alt="Pizza">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>