<div class="col-xs-12 col-md-6 col-md-offset-3" style="margin-top: 20px; text-align: center;">
    <div class="row">
        <div class="col-xs-12">
            <img style="max-height: 300px; margin-left: auto; margin-right: auto; margin-top: 10px;"
                src="{{foodItem?.imagePath}}" alt="{{foodItem?.imagePath}}" class="img-responsive">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>{{foodItem?.name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Price: {{foodItem?.price}}$
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Delivery time: {{foodItem?.deliveryTime}}min
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Category: {{foodItem?.category}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Ingredients</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group" *ngFor="let ingredients of foodItem?.ingredients">
                <li class="list-group-item">{{ingredients?.name}} - {{ingredients?.amount}}g</li>
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12">
            <button type="button" data-target="#editFoodModal" data-toggle="modal"
                class="btn btn-outline-primary">Edit</button>
            <button type="button" data-target="#deleteFoodItem" data-toggle="modal"
                class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
</div>


<!-- Modal for delete fooditem -->
<div class="modal fade" id="deleteFoodItem" tabindex="-1" role="dialog" aria-labelledby="deleteFoodItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 style="text-align: center;">Are you sure you want to delete {{foodItem?.name}}?</h4>
            </div>
            <div class="modal-footer">
                <button style="margin: 2px;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button style="margin: 2px;" [routerLink]="['/admin-dashboard/manage-food']" type="button"
                    class="btn btn-danger" (click)="onDeleteFoodItem()" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for edit food -->
<div class="modal fade" id="editFoodModal" tabindex="-1" role="dialog" aria-labelledby="editFoodModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><b>Edit Food</b></h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="editFoodForm" (ngSubmit)="editForm()">
                    <div class="form-group">
                        <label for="imagePathURL">Image URL</label>
                        <input class="form-control" formControlName="imagePath" type="text"
                            placeholder="Add food image URL" #imagePath>
                    </div>
                    <div class="row">

                        <div class="col-xs-12">
                            <img src="{{imagePath?.value}}" class="img-responsive">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" formControlName="name" type="text" placeholder="Add food name">
                    </div>
                    <div class="row">
                        <div class="col-xs-12" formArrayName="ingredients">
                            <label for="ingredients">Ingredients</label>
                            <div class="row" [formGroupName]="i" style="margin-top: 10px;"
                                *ngFor="let ingredientsOfFoodItem of editFoodForm.get('ingredients')['controls']; let i = index">
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="col-xs-2">
                                    <input type="number" class="form-control" formControlName="amount">
                                </div>
                                <div class="col-xs-2">
                                    <button (click)="onDeleteIngredient(i)" class="btn btn-danger"
                                        type="button">X</button>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <button style="margin-bottom: 10px; margin-top: 10px;" class="btn btn-success"
                                    type="button" (click)="onAddIngredient()">Add
                                    Ingredient</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deliveryTime">Delivery Time</label>
                        <input class="form-control" formControlName="deliveryTime" type="number"
                            placeholder="Add delivery time">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input class="form-control" formControlName="price" type="number" placeholder="Add food price">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input class="form-control" formControlName="category" type="text"
                            placeholder="Add food category">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" [disabled]="!editFoodForm.valid"
                            data-dismiss="modal" (click)="onEditFoodItem()">Save
                            Edit</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>